* {
    margin: 0;
    padding: 0;
    outline: 10px solid rgb(0, 0, 0);
}

.floor {
    width: 414px;
    margin: auto;
    background-color: beige;
}

.horizontal {
    display: flex;
    flex-direction: row;
}

.box1 {
    flex: 0 0 100%;
}

.box1 img {
    width: 100%;
}

.box2 {
    flex: 0 0 47%;
}

.box2 img {
    width: 100%;
}

.box3 {
    display: inline-flex;
    justify-content: center;
    margin: auto;
}

/* Fonts */

h1 {
    font: 900 5.1rem/6.5rem 'Lato', Helvetica, sans-serif; 
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5rem;
}

#displayMessage {
    font: 400 1.7rem/2.7rem 'Lato', Helvetica, sans-serif; 
    text-transform: uppercase;
    padding: 0.75rem;
    word-spacing: 0.2rem;
 }

.btn {
    background-color: rgb(0, 0, 0);
    font: 400 1.1rem/1.1rem 'Lato', Helvetica, sans-serif; 
    position: fixed;
    color: white;
    text-decoration: none;
    z-index: 2;
    padding: 1.8rem 0.2rem 1.4rem;
    border: none;
    cursor: pointer;
 }

 .btn:hover {
    color: rgb(0, 115, 152);
 }